<%- include('../partials/header.ejs', {name: "Edit " + book.title}) %>
<h1> <%= book.titile %> </h1>
    <form method="POST" action="/books/<%= book._id %>?_method=PUT">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= book.title %>">
        <br>
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%= book.author %>">
        <br>
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" value="<%= book.genre %>">
        <br>
        <label for="condition">Condition:</label>
        <input type="text" name="condition" id="condition" value="<%= book.condition %>">
        <br>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="<%= book.description %>">
        <br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" step="any" value="<%= book.price %>">
        <br>
        <br>
        <button class="button3"> Edit <%= book.title %></button>
    </form>
    </body>
    </html>